src/main/resources/types/typesB.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.plantcockpit.eu/fast/festo"
           xmlns:tns="http://www.plantcockpit.eu/fast/festo"
           elementFormDefault="qualified">

  <xs:element name="StationId" type="xs:string"/>
  <xs:element name="Timestamp" type="xs:long"/>

    <xs:complexType name="WorkstationStatusType">
      <xs:sequence>
        <xs:element ref="tns:StationId"/>
        <xs:element name="Status" type="xs:string"/>
        <xs:element ref="tns:Timestamp"/>
      </xs:sequence>
    </xs:complexType>
    
  <xs:element name="WorkstationStatus" type="tns:WorkstationStatusType"/>
  
</xs:schema>
